# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/
Dhanvantari.Client/obj/
obj/
*.suo
bin/
node_modules/
.angular/
Patient.Database.jfm
Patient.Database.dbmdl
dist/
Services/Patient/Patient.Api/Logs/logs.txt
Services/Patient/Patient.Api/Logs/*
Services/Patient/Patient.Api/Properties/
Services/Patient/Patient.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
Services/Patient/Patient.Api/UploadedFiles/
*.jfm
*.dbmdl
*.log
Pharmacy.Client/.vscode/
