<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus = $event"></app-header>
    <div class="main-layout">
        <app-sidebar class="gradient-bg" [sideNavStatus]="sideNavStatus"
            [ngClass]="{ 'app-side-nav-open': sideNavStatus }"></app-sidebar>
        <div class="display-area" [ngClass]="{ 'display-area-shrink': sideNavStatus }">
            <div class="display-content">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>