<div class="modernForm">
    <div class="imageSection">
        <div class="image">
            <div class="overlay"></div>
            <img src="./assets/images/side-bg.jpg" crossorigin="anonymous" alt="pexels-yuri-manei-2272854">
        </div>
        <div class="textInside p-3">
            <h1 style="color: darkgrey;">Get Health Records Using EHMR</h1>
            <p class="tagLine" style="color: rgb(247, 234, 234);">Per Scan</p>
        </div>
        <div class="service">
            <p><span class="price">100 Rs</span> / Month</p>
        </div>
    </div>
    <div class="contactForm">
        <h3 class="pb-3">Pharmacy Patient Portal</h3>
        <form [formGroup]="userRegistrationForm" (ngSubmit)="customerLogin()">
            <input type="hidden" formControlName="pharmacyId" value="patient" />
            <div class="name">
                <p-floatlabel variant="on">
                    <input pInputText id="firstName" formControlName="firstName" autocomplete="off"
                        class="form-control" />
                    <label for="firstName">First Name</label>
                </p-floatlabel>
            </div>
            <div class="name">
                <p-floatlabel variant="on">
                    <input pInputText id="lastName" formControlName="lastName" autocomplete="off"
                        class="form-control" />
                    <label for="lastName">Last Name</label>
                </p-floatlabel>
            </div>
            <div class="name">
                <p-floatlabel variant="on">
                    <input pInputText id="email" formControlName="email" autocomplete="off" class="form-control" />
                    <label for="email">Email</label>
                </p-floatlabel>
            </div>

            <div class="name">
                <p-floatlabel variant="on">
                    <angular-phone-number-input formControlName="mobile" [defaultCountry]="defaultCountry"
                        [preferredCountries]="['US', 'IN', 'BD']"
                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
                    </angular-phone-number-input>
                </p-floatlabel>
            </div>
            <div class="name">
                <p-floatlabel variant="on">
                    <input pInputText id="weight" formControlName="weight" autocomplete="off" class="form-control" />
                    <label for="weight">Weight</label>
                </p-floatlabel>
            </div>
            <div class="name">
                <p-floatlabel variant="on">
                    <input pInputText type="number" min="1" id="age" formControlName="age" autocomplete="off"
                        class="form-control" />
                    <label for="age">Age</label>
                </p-floatlabel>
            </div>


            <div class="checkbox">
                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">By signing up, you agree to the
                    <p><a href="#">Play Term of Service</a></p>
                </label>
            </div>
            <p-button label="Register Now" type="submit" [rounded]="true" severity="success" />
        </form>
    </div>
</div>