<nav class="navbar navbar-expand navbar-dark bg-dark px-2 gradient-bg">
    <div class="side-nav-btn p-2 me-3 text-light">
        <i class="pi pi-bars"></i>
    </div>
    <div class="navbar-collapse">
    </div>
    <div class="profile-logo text-center">
        <ul class="navbar-nav d-flex align-items-center justify-content-center">
            <button pButton icon="pi pi-exit" (click)="onLogoutClick()" style="background-color: inherit;">Log
                Out</button>
        </ul>
    </div>
</nav>

@if (!isStarted) {
<div class="scan-button">
    <button pButton label="Start Scan" (click)="startScan()"></button>
</div>
}

@if (isStarted) {
<div style="height: 500px; width: 300px; display: block; margin: 0 auto;">
    <div class="monitor-wrapper">
        <video #videoElement autoplay playsinline></video>
    </div>
    <button pButton (click)="startMeasuring()" label="Start Measuring"></button>
</div>
@if (vitals) {
<div class="vitals-display">
    <p>Vitals : {{vitals}}</p>
</div>
}
}