<section>
    <div class="container-fluid">
        @if (!isStarted) {
        <div class="scan-button">
            <button pButton label="Start Camera" (click)="startScan()"></button>
        </div>
        }
        @if (isStarted) {
        <div>
            <div class="monitor-wrapper">
                <video #videoElement id="video" muted playsinline></video>

            </div>
        </div>
        <p>Vitals : {{vitals}}</p>

        <button (click)="startMeasuring()">Start Scan</button>

        }

    </div>
</section>