.monitor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.scan-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  background-color: #3c63cc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scan-button button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: #3c63cc;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
nav {
  height: 100%;
}
.side-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.side-nav-btn:hover {
  background-color: #9a4cfd;
  border-radius: 30%;
}
.gradient-bg {
  background: linear-gradient(90deg, #79273d, #9b4dff); /* Deep to Light Blue */
  color: #fff; /* Adjust text color for better contrast */
  transition: background 0.5s ease; /* Smooth transition effect */
}
.dropdown-toggle::after {
  font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
  .navbar-brand {
    img {
      width: 120px;
    }
  }
}
